<HEAD>
<TITLE>List of Astrotools TCL Routines</TITLE>
</HEAD>
<BODY>
<CENTER><H5>
[ <A HREF="astrotools.home.html"> ASTROTOOLS Home </A> |
  <A HREF="astrotools.C.html"> C interface </A> |
  <A HREF="astrotools.tcl.html"> TCL interface </A>|
  <A HREF="astrotools.authors.html"> Authors </A> ]
<BR>
[  <A HREF="http://www-sdss.fnal.gov:8000/"> SDSS Home </A> |
   <A HREF="http://www-sdss.fnal.gov:8000/dervish/doc/www/dervish.home.html"> Dervish Home </A> |
<A HREF="http://sdss.fnal.gov:8000/dss/doc/www/sdss.pipe.html"> SDSS Pipelines </A> ]
</A>
</CENTER></H5>
<HR>
<H2>List of all TCL routines available in ASTROTOOLS</H2>
<P>
<UL>
  <LI><A HREF="tclObject.html#2ndMoments">2ndMoments</A>
  <LI><A HREF="tclSlalib.html#DMSToDeg">DMSToDeg</A>
  <LI><A HREF="tclSurveyGeometry.html#GCDecFromRa">GCDecFromRa</A>
  <LI><A HREF="atSurveyGeom.html#GCTheta">GCTheta</A>
  <LI><A HREF="tclSurveyGeometry.html#GCToEq">GCToEq</A>
  <LI><A HREF="tclSurveyGeometry.html#GCToSurvey">GCToSurvey</A>
  <LI><A HREF="tclSlalib.html#HMSToDeg">HMSToDeg</A>
  <LI><A HREF="tclCali.html#LcaliApply">LcaliApply</A>
  <LI><A HREF="tclCali.html#LcaliInvert">LcaliInvert</A>
  <LI><A HREF="tclAirmass.html#airmassFind">airmassFind</A>
  <LI><A HREF="tclAirmass.html#airmassFindHaDec">airmassFindHaDec</A>
  <LI><A HREF="tclAirmass.html#airmassFromZd">airmassFromZd</A>
  <LI><A HREF="tclSurveyGeometry.html#angleGCToRa">angleGCToRa</A>
  <LI><A HREF="atUtils.html#asinh">asinh</A>
  <LI><A HREF="atSurveyGeom.html#astrotoolsVersion">astrotoolsVersion</A>
  <LI><A HREF="atSurveyGeom.html#astrotoolsVersion">astrotoolsVersion</A>
  <LI><A HREF="tclSlalib.html#atAberrationApply">atAberrationApply</A>
  <LI><A HREF="tclSlalib.html#atAberrationGet">atAberrationGet</A>
  <LI><A HREF="tclSlalib.html#atAop">atAop</A>
  <LI><A HREF="tclPMatch.html#atApplyTrans">atApplyTrans</A>
  <LI><A HREF="tclSlalib.html#atAzEl2HaDec">atAzEl2HaDec</A>
  <LI><A HREF="tclDustGetval.html#atDustGetval">atDustGetval</A>
  <LI><A HREF="tclDustGetval.html#atDustGetvalFast">atDustGetvalFast</A>
  <LI><A HREF="tclDustGetval.html#atDustGetvalFastClean">atDustGetvalFastClean</A>
  <LI><A HREF="tclDustGetval.html#atDustMaskParse">atDustMaskParse</A>
  <LI><A HREF="tclDustGetval.html#atExtinctionGet">atExtinctionGet</A>
  <LI><A HREF="atWcs.html#atFindFieldsThatWrap">atFindFieldsThatWrap</A>
  <LI><A HREF="tclPMatch.html#atFindTrans">atFindTrans</A>
  <LI><A HREF="atFixfpBHdr.html#atFixAllBHdr">atFixAllBHdr</A>
  <LI><A HREF="atFixfpCHdr.html#atFixAllCHdr">atFixAllCHdr</A>
  <LI><A HREF="atFixfpBHdr.html#atFixfpBHdr">atFixfpBHdr</A>
  <LI><A HREF="atFixfpCHdr.html#atFixfpCHdr">atFixfpCHdr</A>
  <LI><A HREF="tclPMatch.html#atMatchChains">atMatchChains</A>
  <LI><A HREF="tclSlalib.html#atMean2Apparent">atMean2Apparent</A>
  <LI><A HREF="tclSlalib.html#atOap">atOap</A>
  <LI><A HREF="atWcs.html#atReadTrans">atReadTrans</A>
  <LI><A HREF="tclSlalib.html#atRefro">atRefro</A>
  <LI><A HREF="tclImSim.html#atRegGaussConv">atRegGaussConv</A>
  <LI><A HREF="atHgMath.html#atRegHistInit">atRegHistInit</A>
  <LI><A HREF="atPhotometry.html#atUbvriToUgriz">atUbvriToUgriz</A>
  <LI><A HREF="tclSlalib.html#atVAberrationApply">atVAberrationApply</A>
  <LI><A HREF="tclDustGetval.html#atVDustGetval">atVDustGetval</A>
  <LI><A HREF="tclDustGetval.html#atVDustGetvalFast">atVDustGetvalFast</A>
  <LI><A HREF="atWcs.html#atWCSDeltaRa">atWCSDeltaRa</A>
  <LI><A HREF="atWcs.html#atWcsAddToHdr">atWcsAddToHdr</A>
  <LI><A HREF="tclCali.html#caliApply">caliApply</A>
  <LI><A HREF="tclCali.html#caliInvert">caliInvert</A>
  <LI><A HREF="tclObject.html#centroidFind">centroidFind</A>
  <LI><A HREF="atFixfpBHdr.html#cleanBinnedFrameHeader">cleanBinnedFrameHeader</A>
  <LI><A HREF="atFixfpCHdr.html#cleanCorrectedFrameHeader">cleanCorrectedFrameHeader</A>
  <LI><A HREF="tclAperture.html#clippedMeanFindInAperture">clippedMeanFindInAperture</A>
  <LI><A HREF="tclCali.html#cnts2Lup">cnts2Lup</A>
  <LI><A HREF="tclSurveyGeometry.html#cobePixToCoord">cobePixToCoord</A>
  <LI><A HREF="tclSlalib.html#coordPreNut">coordPreNut</A>
  <LI><A HREF="tclSlalib.html#coordPrecess">coordPrecess</A>
  <LI><A HREF="tclSurveyGeometry.html#coordToCobePix">coordToCobePix</A>
  <LI><A HREF="tclObject.html#daCentroidFind">daCentroidFind</A>
  <LI><A HREF="tclSlalib.html#datFromMjd">datFromMjd</A>
  <LI><A HREF="tclSlalib.html#dayFromTime">dayFromTime</A>
  <LI><A HREF="tclImSim.html#deVaucAdd">deVaucAdd</A>
  <LI><A HREF="tclImSim.html#deVaucAddSlow">deVaucAddSlow</A>
  <LI><A HREF="tclSurveyGeometry.html#defineGC">defineGC</A>
  <LI><A HREF="tclSlalib.html#degToDMS">degToDMS</A>
  <LI><A HREF="tclSlalib.html#degToHMS">degToHMS</A>
  <LI><A HREF="tclImSim.html#deltaAdd">deltaAdd</A>
  <LI><A HREF="tclSlalib.html#deltaTstamp">deltaTstamp</A>
  <LI><A HREF="atSurveyGeom.html#don't">don't</A>
  <LI><A HREF="tclSlalib.html#earthPosVel">earthPosVel</A>
  <LI><A HREF="tclSlalib.html#epj2mjd">epj2mjd</A>
  <LI><A HREF="tclSurveyGeometry.html#eqToGC">eqToGC</A>
  <LI><A HREF="tclSurveyGeometry.html#eqToGal">eqToGal</A>
  <LI><A HREF="tclSurveyGeometry.html#eqToSurvey">eqToSurvey</A>
  <LI><A HREF="atSurveyGeom.html#etaFromStripeNumber">etaFromStripeNumber</A>
  <LI><A HREF="tclImSim.html#expDiskAdd">expDiskAdd</A>
  <LI><A HREF="tclImSim.html#expDiskAddSlow">expDiskAddSlow</A>
  <LI><A HREF="tclSurveyGeometry.html#galToEq">galToEq</A>
  <LI><A HREF="tclObject.html#gaussianWidthFind">gaussianWidthFind</A>
  <LI><A HREF="atWcs.html#gridMap">gridMap</A>
  <LI><A HREF="tclHgMath.html#hg2Cont">hg2Cont</A>
  <LI><A HREF="tclHgMath.html#hg2Del">hg2Del</A>
  <LI><A HREF="tclHgMath.html#hg2Fill">hg2Fill</A>
  <LI><A HREF="tclHgMath.html#hg2Get">hg2Get</A>
  <LI><A HREF="tclHgMath.html#hg2Gray">hg2Gray</A>
  <LI><A HREF="tclHgMath.html#hg2New">hg2New</A>
  <LI><A HREF="atHgMath.html#hg2Read">hg2Read</A>
  <LI><A HREF="atHgMath.html#hg2Save">hg2Save</A>
  <LI><A HREF="tclHgMath.html#hg2VFill">hg2VFill</A>
  <LI><A HREF="tclHgMath.html#hgGaussFit">hgGaussFit</A>
  <LI><A HREF="tclHgMath.html#hgPolyFit">hgPolyFit</A>
  <LI><A HREF="tclEphemeris.html#hourAngle">hourAngle</A>
  <LI><A HREF="atSurveyGeom.html#idStamp">idStamp</A>
  <LI><A HREF="atSurveyGeom.html#inclFromStripeNumber">inclFromStripeNumber</A>
  <LI><A HREF="tclSlalib.html#lbToXyz">lbToXyz</A>
  <LI><A HREF="atSurveyGeom.html#loadStripeLimits">loadStripeLimits</A>
  <LI><A HREF="atSurveyGeom.html#lookupCCDAstrom">lookupCCDAstrom</A>
  <LI><A HREF="tclCali.html#lup2Cnts">lup2Cnts</A>
  <LI><A HREF="tclAperture.html#meanFindInAperture">meanFindInAperture</A>
  <LI><A HREF="tclSlalib.html#meanToApparent">meanToApparent</A>
  <LI><A HREF="tclAperture.html#medianFindInAperture">medianFindInAperture</A>
  <LI><A HREF="tclAirmass.html#meridianAirmassFind">meridianAirmassFind</A>
  <LI><A HREF="tclSlalib.html#mjd2epj">mjd2epj</A>
  <LI><A HREF="tclEphemeris.html#mjdRiseSet">mjdRiseSet</A>
  <LI><A HREF="tclEphemeris.html#moonPhase">moonPhase</A>
  <LI><A HREF="atSurveyGeom.html#mtPatchNameFromSurvey">mtPatchNameFromSurvey</A>
  <LI><A HREF="tclCali.html#nLcaliApply">nLcaliApply</A>
  <LI><A HREF="tclCali.html#nLcaliInvert">nLcaliInvert</A>
  <LI><A HREF="tclEphemeris.html#nextFullMoon">nextFullMoon</A>
  <LI><A HREF="tclEphemeris.html#nextNewMoon">nextNewMoon</A>
  <LI><A HREF="atNextNewMoonLocal.html#nextNewMoonLocal">nextNewMoonLocal</A>
  <LI><A HREF="atSurveyGeom.html#nodeGet">nodeGet</A>
  <LI><A HREF="atSurveyGeom.html#nuFromScanLine">nuFromScanLine</A>
  <LI><A HREF="tclSurveyGeometry.html#parallacticAngleGC">parallacticAngleGC</A>
  <LI><A HREF="tclSlalib.html#planetRaDec">planetRaDec</A>
  <LI><A HREF="tclSlalib.html#planetRiseSet">planetRiseSet</A>
  <LI><A HREF="tclSlalib.html#pmApply">pmApply</A>
  <LI><A HREF="atUtils.html#proc">proc</A>
  <LI><A HREF="tclHgMath.html#proco">proco</A>
  <LI><A HREF="tclQuasar.html#quLocusCheck">quLocusCheck</A>
  <LI><A HREF="tclQuasar.html#quLocusKlmFromXyz">quLocusKlmFromXyz</A>
  <LI><A HREF="atRaDecToField.html#raDecToField">raDecToField</A>
  <LI><A HREF="tclSlalib.html#radFromDMS">radFromDMS</A>
  <LI><A HREF="tclSlalib.html#radFromDeg">radFromDeg</A>
  <LI><A HREF="tclSlalib.html#radFromHMS">radFromHMS</A>
  <LI><A HREF="tclSlalib.html#radToDMS">radToDMS</A>
  <LI><A HREF="tclSlalib.html#radToDeg">radToDeg</A>
  <LI><A HREF="tclSlalib.html#radToHMS">radToHMS</A>
  <LI><A HREF="atWcs.html#rc2munu">rc2munu</A>
  <LI><A HREF="atWcs.html#rc2radec">rc2radec</A>
  <LI><A HREF="tclRegSci.html#regBin">regBin</A>
  <LI><A HREF="tclRegSci.html#regClippedMeanFind">regClippedMeanFind</A>
  <LI><A HREF="tclHgMath.html#regColorPlot">regColorPlot</A>
  <LI><A HREF="tclRegSci.html#regConvolve">regConvolve</A>
  <LI><A HREF="tclRegSci.html#regCorrectQuick">regCorrectQuick</A>
  <LI><A HREF="tclRegSci.html#regCorrectWithVec">regCorrectWithVec</A>
  <LI><A HREF="tclRegSci.html#regDistortWithVec">regDistortWithVec</A>
  <LI><A HREF="tclRegSci.html#regGaussiansAdd">regGaussiansAdd</A>
  <LI><A HREF="tclHgMath.html#regHistEq">regHistEq</A>
  <LI><A HREF="tclRegSci.html#regMap">regMap</A>
  <LI><A HREF="tclRegSci.html#regMedianFind">regMedianFind</A>
  <LI><A HREF="tclRegSci.html#regMedianFindAsDbl">regMedianFindAsDbl</A>
  <LI><A HREF="tclRegSci.html#regMedianFindByColumn">regMedianFindByColumn</A>
  <LI><A HREF="tclRegSci.html#regMedianFindByRow">regMedianFindByRow</A>
  <LI><A HREF="tclRegSci.html#regMedianSmooth">regMedianSmooth</A>
  <LI><A HREF="tclRegSci.html#regModeFind">regModeFind</A>
  <LI><A HREF="tclRegSci.html#regPixRangeSubstitute">regPixRangeSubstitute</A>
  <LI><A HREF="tclRegSci.html#regPixValSubstitute">regPixValSubstitute</A>
  <LI><A HREF="tclHgMath.html#regPlot">regPlot</A>
  <LI><A HREF="atRegContourPlot.html#regPlotAsContour">regPlotAsContour</A>
  <LI><A HREF="atRegContourPlot.html#regPlotAsContourFsao">regPlotAsContourFsao</A>
  <LI><A HREF="atRegContourPlot.html#regPlotAsContourPS">regPlotAsContourPS</A>
  <LI><A HREF="atRegContourPlot.html#regPlotAsContourPSFsao">regPlotAsContourPSFsao</A>
  <LI><A HREF="tclRegSci.html#regSigmaClip">regSigmaClip</A>
  <LI><A HREF="tclRegSci.html#regSkyFind">regSkyFind</A>
  <LI><A HREF="tclSmoothReg.html#regSmoothWithMedian">regSmoothWithMedian</A>
  <LI><A HREF="tclImSim.html#regStatNoiseAdd">regStatNoiseAdd</A>
  <LI><A HREF="tclRegSci.html#regStatsFind">regStatsFind</A>
  <LI><A HREF="tclEphemeris.html#riseSet">riseSet</A>
  <LI><A HREF="tclSlalib.html#sepGet">sepGet</A>
  <LI><A HREF="atUtils.html#set_ftclHelp">set_ftclHelp</A>
  <LI><A HREF="tclSurveyGeometry.html#siteSet">siteSet</A>
  <LI><A HREF="tclSurveyGeometry.html#siteSetByName">siteSetByName</A>
  <LI><A HREF="tclGalaxy.html#starCountsFind">starCountsFind</A>
  <LI><A HREF="atTelescopeAxes.html#stripeAxisRates">stripeAxisRates</A>
  <LI><A HREF="atSurveyGeom.html#stripeLimits">stripeLimits</A>
  <LI><A HREF="atSurveyGeom.html#stripeNumberFromEta">stripeNumberFromEta</A>
  <LI><A HREF="atSurveyGeom.html#surveyFromMtPatchName">surveyFromMtPatchName</A>
  <LI><A HREF="tclSurveyGeometry.html#surveyToAzelpa">surveyToAzelpa</A>
  <LI><A HREF="tclSurveyGeometry.html#surveyToEq">surveyToEq</A>
  <LI><A HREF="tclSurveyGeometry.html#surveyToGC">surveyToGC</A>
  <LI><A HREF="tclTrans.html#transApply">transApply</A>
  <LI><A HREF="tclTrans.html#transDel">transDel</A>
  <LI><A HREF="tclTrans.html#transInverseApply">transInverseApply</A>
  <LI><A HREF="tclTrans.html#transInverseApplyNowrap">transInverseApplyNowrap</A>
  <LI><A HREF="tclTrans.html#transNew">transNew</A>
  <LI><A HREF="tclSlalib.html#tstampDel">tstampDel</A>
  <LI><A HREF="tclSlalib.html#tstampFromMJD">tstampFromMJD</A>
  <LI><A HREF="tclSlalib.html#tstampIncr">tstampIncr</A>
  <LI><A HREF="tclSlalib.html#tstampNew">tstampNew</A>
  <LI><A HREF="tclSlalib.html#tstampNow">tstampNow</A>
  <LI><A HREF="tclSlalib.html#tstampToDate">tstampToDate</A>
  <LI><A HREF="tclSlalib.html#tstampToLst">tstampToLst</A>
  <LI><A HREF="tclSlalib.html#tstampToMJD">tstampToMJD</A>
  <LI><A HREF="tclSlalib.html#tstampToTime">tstampToTime</A>
  <LI><A HREF="tclSlalib.html#tstampToTwilight">tstampToTwilight</A>
  <LI><A HREF="tclMatch.html#vCloseMatch">vCloseMatch</A>
  <LI><A HREF="tclSurveyGeometry.html#vCobePixToCoord">vCobePixToCoord</A>
  <LI><A HREF="tclSurveyGeometry.html#vCoordToCobePix">vCoordToCobePix</A>
  <LI><A HREF="tclMatch.html#vDiMatch">vDiMatch</A>
  <LI><A HREF="tclMatch.html#vDiMatch2">vDiMatch2</A>
  <LI><A HREF="tclSurveyGeometry.html#vEqToGC">vEqToGC</A>
  <LI><A HREF="tclSurveyGeometry.html#vEqToGal">vEqToGal</A>
  <LI><A HREF="tclSurveyGeometry.html#vEqToSurvey">vEqToSurvey</A>
  <LI><A HREF="tclSlalib.html#vFitxy">vFitxy</A>
  <LI><A HREF="tclSurveyGeometry.html#vGCToEq">vGCToEq</A>
  <LI><A HREF="tclSurveyGeometry.html#vGalToEq">vGalToEq</A>
  <LI><A HREF="tclLinearFits.html#vLinEqn">vLinEqn</A>
  <LI><A HREF="tclLinearFits.html#vLinFitBces">vLinFitBces</A>
  <LI><A HREF="tclSlalib.html#vS2tp">vS2tp</A>
  <LI><A HREF="tclSurveyGeometry.html#vSurveyToEq">vSurveyToEq</A>
  <LI><A HREF="tclSlalib.html#vTp2s">vTp2s</A>
  <LI><A HREF="tclSlalib.html#vTrans">vTrans</A>
  <LI><A HREF="tclSlalib.html#velFromTstamp">velFromTstamp</A>
  <LI><A HREF="atSurveyGeom.html#versionStamp">versionStamp</A>
  <LI><A HREF="tclImSim.html#wingAdd">wingAdd</A>
  <LI><A HREF="tclSlalib.html#xyzToLb">xyzToLb</A>
  <LI><A HREF="tclAirmass.html#zdDec2Ha">zdDec2Ha</A>
</UL>
</BODY>
