
<HEAD>

<TITLE>Astrotools TCL Interfaces</TITLE>
<BODY>

<CENTER><H5>
[ <A HREF="astrotools.home.html"> ASTROTOOLS Home </A> |
  <A HREF="astrotools.C.html"> C interface </A> |
   TCL interface |
  <A HREF="astrotools.authors.html"> Authors </A> ]
<BR>
[  <A HREF="http://www-sdss.fnal.gov:8000/"> SDSS Home </A> |
   <A HREF="http://www-sdss.fnal.gov:8000/dervish/doc/www/dervish.home.html"> Dervish Home </A> |
   <A HREF="http://sdss.fnal.gov:8000/dss/doc/www/sdss.pipe.html"> SDSS Pipeline
s </A> ]
</CENTER></H5>

<HR>

<H1>ASTROTOOLS TCL Interface</H1>

<TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 >

<TR><TD COLSPAN=2>
    <A HREF="astrotools.tcl.list.html">
    List of all TCL routines in ASTROTOOLS</A></TD>

<TR><TD><BR></TD><TD><BR></TD>

<TR><TD><A HREF="atExternalSet.html">atExternalSet.c</A></TD>
    <TD>Preset constants</TD>

<TR><TD><BR></TD><TD><BR></TD>

<TR><TD><A HREF="tclAirmass.html">tclAirmass.c</A></TD>
    <TD>calculate airmass</TD>
<TR><TD><A HREF="tclAperture.html">tclAperture.c</A></TD>
    <TD>measure counts inside apertures</TD>
<TR><TD><A HREF="tclCali.html">tclCali.c</A></TD>
    <TD>apply photometric calibration</TD>
<TR><TD><A HREF="tclEphemeris.html">tclEphemeris.c</A></TD>
    <TD>calculate rise/set times, lunar phases, hour angle</TD>
<TR><TD><A HREF="tclGalaxy.html">tclGalaxy.c</A></TD>
    <TD>calculate star counts</TD>
<TR><TD><A HREF="tclHgMath.html">tclHgMath.c</A></TD>
    <TD>operate on HGs and HG2s (histograms, 2-D histograms)</TD>
<TR><TD><A HREF="tclImSim.html">tclImSim.c</A></TD>
    <TD>simulate images</TD>
<TR><TD><A HREF="tclLinearFits.html">tclLinearFits.c</A></TD>
    <TD>linear fitting</TD>
<TR><TD><A HREF="tclMatch.html">tclMatch.c</A></TD>
    <TD>match two lists of objects</TD>
<TR><TD><A HREF="atNextNewMoonLocal.html">atNextNewMoonLocal.tcl</A></TD>
    <TD>determine next new moon</TD>
<TR><TD><A HREF="tclObject.html">tclObject.c</A></TD>
    <TD>measure photometric parameters</TD>
<TR><TD><A HREF="atPhotometry.html">atPhotometry.tcl</A></TD>
    <TD>photometric transformations</TD>
<TR><TD><A HREF="tclPMatch.html">tclPMatch.c</A></TD>
    <TD>match two CHAINs of objects, with
        <A HREF="astrotools.pmatch.html">examples</TD>
<TR><TD><A HREF="atRegContourPlot.html">atRegContourPlot.tcl</A></TD>
    <TD>make contour plots</TD>
<TR><TD><A HREF="tclRegSci.html">tclRegSci.c</A></TD>
    <TD>calculate statistics and other operations on images</TD>
<TR><TD><A HREF="tclSlalib.html">tclSlalib.c</A></TD>
    <TD>use SLALIB astrometric routines</TD>
<TR><TD><A HREF="tclSurveyGeometry.html">tclSurveyGeometry.c</A></TD>
    <TD>calculate coordinate transformations</TD>
<TR><TD><A HREF="atSurveyGeom.html">atSurveyGeom.tcl</A></TD>
    <TD>calculate survey coordinates, MT patch name, stripe number</TD>
<TR><TD><A HREF="tclTrans.html">tclTrans.c</A></TD>
    <TD>create and manipulate TRANS structs</TD>
<TR><TD><A HREF="tclDustGetval.html">tclDustGetval.c</A></TD>
    <TD>Read values from the dust map.</TD>
</TABLE>

