
<H1><A NAME="regPlotAsContour">regPlotAsContour</A></H1>
<P>
Plot the specified region as a contour.

<LISTING>
TCL SYNTAX:
   regPlotAsContour  <reg> <rowCntr> <colCntr> <theta> <nrows> <ncols> <clist>

   <reg>      the region containing the data
   <rowCntr>  row that will be the center of the contour
   <colCntr>  column that will be the center of the contour
   <theta>    currently not used
   <nrows>    total number of rows to contour 
   <ncols>    total number of columns to contour
   <clist>    1-dimensional array of NC contour levels, dimensioned at least NC


</LISTING>
<PRE></PRE>

<HR>

<H1><A NAME="regPlotAsContourFsao">regPlotAsContourFsao</A></H1>
<P>
Same as <A HREF="#regPlotAsContour">regPlotAsContour</A> except that this verb
is meant to be hooked up to fsao via a <EM>mouseDefine</EM> command -
<BR>
<CENTER>mouseDefine RECTANGLE_CL regPlotAsContourFsao</CENTER>

You must bind the command to the RECTANGLE_CL button - no other will work.
The region containing the data currently on display in fsao will used to do
the contouring.

<PRE></PRE>

<HR>
<H1><A NAME="regPlotAsContourPS">regPlotAsContourPS</A></H1>
<P>
Same as <A HREF="#regPlotAsContour">regPlotAsContour</A> except the resultant
contour plot is written to pgplot.ps.

<PRE></PRE>

<HR>
<H1><A NAME="regPlotAsContourPSFsao">regPlotAsContourPSFsao</A></H1>
<P>
Same as <A HREF="#regPlotAsContourFsao">regPlotAsContourFsao</A> except the
resultant contour plot is written to pgplot.ps.

<PRE></PRE>

<HR>
