<title>atSurveyGeom</title>
<h1>atSurveyGeom</h1>
<hr><menu>
<li><a href="#stripeNumberFromEta">stripeNumberFromEta</a>
<li><a href="#etaFromStripeNumber">etaFromStripeNumber</a>
<li><a href="#inclFromStripeNumber">inclFromStripeNumber</a>
<li><a href="#nodeGet">nodeGet</a>
<li><a href="#mtPatchNameFromSurvey">mtPatchNameFromSurvey</a>
<li><a href="#surveyFromMtPatchName">surveyFromMtPatchName</a>
<li><a href="#lookupCCDAstrom">lookupCCDAstrom</a>
<li><a href="#nuFromScanLine">nuFromScanLine</a>
<li><a href="#loadStripeLimits">loadStripeLimits</a>
<li><a href="#stripeLimits">stripeLimits</a>
</menu>
<h2>
<hr><a name="stripeNumberFromEta">stripeNumberFromEta</a>
</h2>
<pre>
USAGE: stripeNumberFromEta eta

DESCRIPTION: returns the stripe number closest to the eta value

RETURN:  the stripe number
</pre>
<h2>
<hr><a name="etaFromStripeNumber">etaFromStripeNumber</a>
</h2>
<pre>
USAGE:  etaFromStripeNumber stripeNumber

DESCRIPTION: returns the eta of the stripe number

RETURN: the eta value
</pre>
<h2>
<hr><a name="inclFromStripeNumber">inclFromStripeNumber</a>
</h2>
<pre>
USAGE: inclFromStripeNumber stripeNumber

DESCRIPTION: returns the inclination of the stripe number

RETURN: the inclination
</pre>
<h2>
<hr><a name="nodeGet">nodeGet</a>
</h2>
<pre>
USAGE:  nodeGet

DESCRIPTION: tells you what the node of all the great circles is, 
which is always 95 degrees.

RETURN: the node
</pre>
<h2>
<hr><a name="mtPatchNameFromSurvey">mtPatchNameFromSurvey</a>
</h2>
<pre>
USAGE: mtPatchNameFromSurvey lambda eta camCol

DESCRIPTION:  returns the name of the mt patch give survey 
coordinates and a camera column

RETURN: the name
</pre>
<h2>
<hr><a name="surveyFromMtPatchName">surveyFromMtPatchName</a>
</h2>
<pre>
USAGE: surveyFromMtPatchName name

DESCRIPTION: tells you what the survey coordinates are of a MT patch

RETURN: a keyed list of lambda and eta
</pre>
<h2>
<hr><a name="lookupCCDAstrom">lookupCCDAstrom</a>
</h2>
<pre>
USAGE:  lookupCCDAstrom chainList hdr camRow camCol xrot yrot rotation

where

chainList and hrd are set with the command
'set chainList \[param2Chain opCamera-MJD.par hdr\]'
camRow and camCol are the row and column location of the CCD
xrot, yrot is the center of the plate rotation (nominally 0.0, 0.0)
rotation is the rotation of the plate (near 0 degrees)

RETURN:

a keyed list of

camRow - the same as you input
camCol - the same as you input
dewarID - which dewar this CCD is in
xPos, yPos - the effective position in the focal plane (mm)
angle - the effecive rotation of the chip (degrees)
arcsecPerPix - the local plate scale at this CCD

You need to provide a global plate scale to transform xPos, 
yPos to a location on the sky.  

An example is in astrotools/test/atSurveyGeom.tcl
</pre>
<h2>
<hr><a name="nuFromScanLine">nuFromScanLine</a>
</h2>
<pre>
USAGE: nuFromScanLine paramfile camCol stripe

DESCRIPTION: returns nu, given a param file of type opCamera, 
the column (1-6) and either N or S (north or south)

RETURN: the nu value
</pre>
<h2>
<hr><a name="loadStripeLimits">loadStripeLimits</a>
</h2>
<pre>
USAGE: loadStripeLimits 

DESCRIPTION: returns chain of stripe start and stop lambdas for use 
with stripeNumber.

RETURN: a stripeChn
</pre>
<h2>
<hr><a name="stripeLimits">stripeLimits</a>
</h2>
<pre>
USAGE: stripeLimits stripeNumber [stripeChn]

DESCRIPTION: returns keyed list with lambdaMin, lambdaMax, and eta 
for the indicated stipe.  If stripeChn (loaded with loadStripeLimits) 
is specified it works faster, if no stripeChn is specified it loads 
and deletes the stripeChain each time.

RETURN: The lambdaMin, lambdaMax, and eta values
</pre>
