<TITLE>FFTW 1.2 User's Manual - SDSS Modifications</TITLE>
</HEAD>
<BODY TEXT="#000000" BGCOLOR="#FFFFFF">
<HR>


<H1><A NAME="SDSS">SDSS Modifications</A></H1>
<ul>
<li> Changed the definition of <code>FFTW_REAL</code> from <code>double</code>
to <code>float</code>.
<li> Modified the Makefiles in src and tests to use sdssmake switches.
Note that under OSF1 using the sdss standard switches executables do not load,
because of the following unresolved symbols: 
<code>_OtsDivide32</code> and <code>_OtsRemainder32</code>.
The Makefile that is checked in is set to compile for OSF1 with
simple switches.  Comment and uncomment the lines indicated in
the Makefile in src and tests to compile for other platforms.

<li> To build this, type <code> sdssmake -fulloptimize all </code> in
the src directory.  You may do the same in the tests directory, and
then run the program <code>testnd</code> to make sure it works.
This test fails on IRIX, most likely due to a precision problem.
The developers have been notified.
<ul>

Chris Stoughton

October 21, 1997

</BODY>
</HTML>
