<TITLE> PSP: psParam.par file        </TITLE>

<BODY bgcolor="EEEEFF">
<hr>
<A name=psp><H1>psParam.par</H1></A>
 <H1>Parameter File for Postage Stamp Pipeline</H1> 
<ADDRESS>December 1997</ADDRESS>

<hr>
This is an example of psParam.par file which specifies all
parameters for controlling PSP algorithms. All data is entered in form 
keyword - value.


<pre>

#
# Software parameters for postage stamp pipeline
#

ps_wingsize 200 			# size of stellar-wing patches

# value at which a pixel is considered saturated
ps_saturation_level        64000

# software bias to prevent negative pix values after bias subtraction
ps_soft_bias            1000

# file of cell-array profiles (precalculated PSF models)
cellprofile_file $PHOTO_DIR/lib/cellprof.dat	

# parameters used by flatfields modules
ps_smooth_length	0		# how to smooth the bias vectors
                                        # must set to 0, currently not used
ff_ninterp              5               # controls the number of adjecent frames, nadj,
                                        # to smooth over (nadj = 2 * ff_ninterp + 1)
ff_sigrej               3               # Rejection limit in sigmas
ff_beta                 0               # index specifying interpolation (filtering) method
                                        # 0 = median, 1 = mean, > 1 a weighting function 
                                        # which -> delta function for ff_beta -> inf.
left_buffer             0               # do not include last left_buffer pixels in left 
                                        # overscan region when determining bias drift 
right_buffer            0               # do not include first right_buffer pixels in right 
                                        # overscan region when determining bias drift 

# parameters used by the findCR function
cr_min_sigma            6.0             # CRs must be > this many sky-sig above sky
cr_min_e                150             # CRs must have > this many electrons in peak pixel
cr_cond3                3.0             # used in condition 3 for CR; see CR.c code
cr_cond32               0.6             # used in condition 3 for CR; see CR.c code

# parameters used by makeStarlist  
star1_aperature          5              # Index of radial profile aperature
                                        # to use for photometric calibration
psf_def_rad             27              # rad out to which to use data for PS stars 
wing_def_rad            60              # rad out to which to use data for wing stars                                    
psf_threshold		 5		# % of peak to trigger asymmetry filter 
sigma_multi             2.5             # number of sigma sky to trigger multiple flag
sigma_badsky            3.0             # number of sigma for bad sky, 3.0
second_peak             0.0001          # minimum required strength for the 2nd peak to
                                        # set MULTIPLE flag  
 
# parameters used for selecting good PSF stars 
min_starnum             2               # min. number of good stars needed for PSF determination
psf_nframe              3		# interpolate psfs over nframes frames (odd number)
psf_niter		2		# number of times to iterate sigma clip
soft_err_min            0.01            # minimal error for composite profile used
                                        # for softening before fitting the PSF
soft_err_max            0.02            # maximal error for composite profile used
                                        # for softening before fitting the PSF
nowing_option           2               # what to do w/o wing stars:
                                        # 1 = give up
                                        # 2 = assume some canonical values
psf_critical_amplitude	5000		# if bad width and dgpsf->a > this,
   					# the stamp's bad in all bands
# cliping parameters
 # cell by cell clip
ncellclip               3.0             # how many sigma to clip cells at
nbadcell                6               # how many bad cells to condemn a star  
maxdev                  5.0             # maximal allowed deviation from the median
 # size and shape clip 
psf_nsigma1		4.0		# number of sigma at which to clip sigma 
psf_nsigma2		2.0		# number of sigma at which to clip QU 
 # clip on best_fit model PSF
clip_mod                 0              # if < 1 do not clip on best-fit model
 # chi2 clip
chisq_max               1.0             # max chi2 for all stars         
chisq_cutoff            3.0             # max chi2 for a single star  

# parameters used by photometricParameters module
fpp_refcolor_u          g               # Band used with color terms in the u
fpp_refcolor_g          r               # Band used with color terms in the g
fpp_refcolor_r          g               # Band used with color terms in the r
fpp_refcolor_i          r               # Band used with color terms in the i
fpp_refcolor_z          i               # Band used with color terms in the z
fpp_color_term_u       .01              # log(flux20) = a + color_term * color
fpp_color_term_g       .01              # log(flux20) = a + color_term * color
fpp_color_term_r       .01              # log(flux20) = a + color_term * color
fpp_color_term_i       .01              # log(flux20) = a + color_term * color
fpp_color_term_z       .01              # log(flux20) = a + color_term * color
fpp_color_term_err_u       .001         # Error in color term for u
fpp_color_term_err_g       .001         # Error in color term for g
fpp_color_term_err_r       .001         # Error in color term for r
fpp_color_term_err_i       .001         # Error in color term for i
fpp_color_term_err_z       .001         # Error in color term for z
fpp_starsep                   8         # Max sep (") for match to mt stars

</pre>


<hr>
Back to <A HREF="psp.html"> PSP</A><BR>
Back to <A HREF="overview.html"> Photo Overview</A>
<hr>
<P><ADDRESS>
<I>ZI, December 1997</I>
</ADDRESS>
</BODY>
