<HEAD>
<TITLE>List of Astrotools C functions</TITLE>
</HEAD>
<BODY>
<CENTER><H5>
[ <A HREF="astrotools.home.html"> ASTROTOOLS Home </A> |
  <A HREF="astrotools.C.html">C interface </A> |
  <A HREF="astrotools.tcl.html"> TCL interface </A>|
  <A HREF="astrotools.authors.html"> Authors </A> ]
<BR>
[  <A HREF="http://www-sdss.fnal.gov:8000/"> SDSS Home </A> |
   <A HREF="http://www-sdss.fnal.gov:8000/dervish/doc/www/dervish.home.html"> Dervish Home </A> |
<A HREF="http://sdss.fnal.gov:8000/dss/doc/www/sdss.pipe.html"> SDSS Pipelines </A> ]
</A>
</CENTER></H5>
<HR>
<H2>List of all public C functions available in ASTROTOOLS</H2>
<P>
<UL>
  <LI><A HREF="atObject.html#at2ndMoments">at2ndMoments</A>
  <LI><A HREF="atSlalib.html#atAberrationApply">atAberrationApply</A>
  <LI><A HREF="atSlalib.html#atAberrationGet">atAberrationGet</A>
  <LI><A HREF="atAirmass.html#atAirmassFind">atAirmassFind</A>
  <LI><A HREF="atAirmass.html#atAirmassFindHaDec">atAirmassFindHaDec</A>
  <LI><A HREF="atAirmass.html#atAirmassFromZd">atAirmassFromZd</A>
  <LI><A HREF="atSurveyGeometry.html#atAngleGCToRa">atAngleGCToRa</A>
  <LI><A HREF="atPMatch.html#atApplyTrans">atApplyTrans</A>
  <LI><A HREF="atSurveyGeometry.html#atBound">atBound</A>
  <LI><A HREF="atSurveyGeometry.html#atBound2">atBound2</A>
  <LI><A HREF="atCali.html#atCaliApply">atCaliApply</A>
  <LI><A HREF="atCali.html#atCaliInvert">atCaliInvert</A>
  <LI><A HREF="atObject.html#atCentroidFind">atCentroidFind</A>
  <LI><A HREF="atSurveyGeometry.html#atCobePixToCoord">atCobePixToCoord</A>
  <LI><A HREF="atSurveyGeometry.html#atCoordToCobePix">atCoordToCobePix</A>
  <LI><A HREF="atCentroid.html#atDACentroid">atDACentroid</A>
  <LI><A HREF="atObject.html#atDACentroidFind">atDACentroidFind</A>
  <LI><A HREF="atSlalib.html#atDMSToDeg">atDMSToDeg</A>
  <LI><A HREF="atEphemeris.html#atDateToEpoch">atDateToEpoch</A>
  <LI><A HREF="atSlalib.html#atDayFromTime">atDayFromTime</A>
  <LI><A HREF="atEphemeris.html#atDayOfYear">atDayOfYear</A>
  <LI><A HREF="atImSim.html#atDeVaucAdd">atDeVaucAdd</A>
  <LI><A HREF="atImSim.html#atDeVaucAddSlow">atDeVaucAddSlow</A>
  <LI><A HREF="atSurveyGeometry.html#atDefineGC">atDefineGC</A>
  <LI><A HREF="atSlalib.html#atDegToDMS">atDegToDMS</A>
  <LI><A HREF="atSlalib.html#atDegToHMS">atDegToHMS</A>
  <LI><A HREF="atImSim.html#atDeltaAdd">atDeltaAdd</A>
  <LI><A HREF="atDustGetval.html#atDustGetval">atDustGetval</A>
  <LI><A HREF="atDustGetval.html#atDustGetvalFast">atDustGetvalFast</A>
  <LI><A HREF="atDustGetval.html#atDustGetvalFastClean">atDustGetvalFastClean</A>
  <LI><A HREF="atDustGetval.html#atDustMaskParse">atDustMaskParse</A>
  <LI><A HREF="atCentroid.html#atEllipseFind">atEllipseFind</A>
  <LI><A HREF="atEphemeris.html#atEpochToDate">atEpochToDate</A>
  <LI><A HREF="atSurveyGeometry.html#atEqToGC">atEqToGC</A>
  <LI><A HREF="atSurveyGeometry.html#atEqToGal">atEqToGal</A>
  <LI><A HREF="atSurveyGeometry.html#atEqToSurvey">atEqToSurvey</A>
  <LI><A HREF="atSurveyGeometry.html#atEtaToStripeNum">atEtaToStripeNum</A>
  <LI><A HREF="atImSim.html#atExpDiskAdd">atExpDiskAdd</A>
  <LI><A HREF="atImSim.html#atExpDiskAddSlow">atExpDiskAddSlow</A>
  <LI><A HREF="atGaussianWidth.html#atFindFocMom">atFindFocMom</A>
  <LI><A HREF="atPMatch.html#atFindTrans">atFindTrans</A>
  <LI><A HREF="atSurveyGeometry.html#atGCDecFromRa">atGCDecFromRa</A>
  <LI><A HREF="atSurveyGeometry.html#atGCToEq">atGCToEq</A>
  <LI><A HREF="atSurveyGeometry.html#atGCToSurvey">atGCToSurvey</A>
  <LI><A HREF="atSurveyGeometry.html#atGalToEq">atGalToEq</A>
  <LI><A HREF="atGauss.html#atGaussVectorMake">atGaussVectorMake</A>
  <LI><A HREF="atObject.html#atGaussianWidthFind">atGaussianWidthFind</A>
  <LI><A HREF="atSlalib.html#atHMSToDeg">atHMSToDeg</A>
  <LI><A HREF="atHgMath.html#atHg2Cont">atHg2Cont</A>
  <LI><A HREF="atHgMath.html#atHg2Del">atHg2Del</A>
  <LI><A HREF="atHgMath.html#atHg2Fill">atHg2Fill</A>
  <LI><A HREF="atHgMath.html#atHg2Get">atHg2Get</A>
  <LI><A HREF="atHgMath.html#atHg2Gray">atHg2Gray</A>
  <LI><A HREF="atHgMath.html#atHg2New">atHg2New</A>
  <LI><A HREF="atHgMath.html#atHg2VFill">atHg2VFill</A>
  <LI><A HREF="atHgMath.html#atHgGaussianFit">atHgGaussianFit</A>
  <LI><A HREF="atHgMath.html#atHgPolyFit">atHgPolyFit</A>
  <LI><A HREF="atEphemeris.html#atHourAngle">atHourAngle</A>
  <LI><A HREF="atEphemeris.html#atJulDay">atJulDay</A>
  <LI><A HREF="atCali.html#atLCaliApply">atLCaliApply</A>
  <LI><A HREF="atCali.html#atLCaliInverse">atLCaliInverse</A>
  <LI><A HREF="atCali.html#atLupApply">atLupApply</A>
  <LI><A HREF="atCali.html#atLupInvert">atLupInvert</A>
  <LI><A HREF="atPMatch.html#atMatchChains">atMatchChains</A>
  <LI><A HREF="atHgMath.html#atMatrixToTrans">atMatrixToTrans</A>
  <LI><A HREF="atSlalib.html#atMeanToApparent">atMeanToApparent</A>
  <LI><A HREF="atAirmass.html#atMeridianAirmassFind">atMeridianAirmassFind</A>
  <LI><A HREF="atEphemeris.html#atMjdRiseSet">atMjdRiseSet</A>
  <LI><A HREF="atEphemeris.html#atMoonPhase">atMoonPhase</A>
  <LI><A HREF="atEphemeris.html#atMst">atMst</A>
  <LI><A HREF="atEphemeris.html#atNextFullMoon">atNextFullMoon</A>
  <LI><A HREF="atEphemeris.html#atNextNewMoon">atNextNewMoon</A>
  <LI><A HREF="atSurveyGeometry.html#atParallacticAngleGC">atParallacticAngleGC</A>
  <LI><A HREF="atSlalib.html#atPlanetRaDec">atPlanetRaDec</A>
  <LI><A HREF="atSlalib.html#atPlanetRiseSet">atPlanetRiseSet</A>
  <LI><A HREF="atHgMath.html#atProco">atProco</A>
  <LI><A HREF="atQuasar.html#atQuLocusKlmFromXyz">atQuLocusKlmFromXyz</A>
  <LI><A HREF="atQuasar.html#atQuLocusRemove">atQuLocusRemove</A>
  <LI><A HREF="atSlalib.html#atRadFromDMS">atRadFromDMS</A>
  <LI><A HREF="atSlalib.html#atRadFromDeg">atRadFromDeg</A>
  <LI><A HREF="atSlalib.html#atRadFromHMS">atRadFromHMS</A>
  <LI><A HREF="atSlalib.html#atRadToDMS">atRadToDMS</A>
  <LI><A HREF="atSlalib.html#atRadToDeg">atRadToDeg</A>
  <LI><A HREF="atSlalib.html#atRadToHMS">atRadToHMS</A>
  <LI><A HREF="atRegSci.html#atRegBin">atRegBin</A>
  <LI><A HREF="atRegSci.html#atRegClippedMeanFind">atRegClippedMeanFind</A>
  <LI><A HREF="atRegSci.html#atRegClippedStatsFind">atRegClippedStatsFind</A>
  <LI><A HREF="atHgMath.html#atRegColorPlot">atRegColorPlot</A>
  <LI><A HREF="atRegSci.html#atRegConvolve">atRegConvolve</A>
  <LI><A HREF="atGauss.html#atRegConvolveWithGaussian">atRegConvolveWithGaussian</A>
  <LI><A HREF="atRegSci.html#atRegCorrectFL32">atRegCorrectFL32</A>
  <LI><A HREF="atRegSci.html#atRegCorrectINT">atRegCorrectINT</A>
  <LI><A HREF="atRegSci.html#atRegCorrectQuick">atRegCorrectQuick</A>
  <LI><A HREF="atRegSci.html#atRegDistortFL32">atRegDistortFL32</A>
  <LI><A HREF="atRegSci.html#atRegGaussianAdd">atRegGaussianAdd</A>
  <LI><A HREF="atRegSci.html#atRegMap">atRegMap</A>
  <LI><A HREF="atRegSci.html#atRegMedianFind">atRegMedianFind</A>
  <LI><A HREF="atRegSci.html#atRegMedianFindAsDbl">atRegMedianFindAsDbl</A>
  <LI><A HREF="atRegSci.html#atRegMedianFindByColumn">atRegMedianFindByColumn</A>
  <LI><A HREF="atRegSci.html#atRegMedianFindByRow">atRegMedianFindByRow</A>
  <LI><A HREF="atRegSci.html#atRegMedianSmooth">atRegMedianSmooth</A>
  <LI><A HREF="atRegSci.html#atRegModeFind">atRegModeFind</A>
  <LI><A HREF="atRegSci.html#atRegPixRangeSubstitute">atRegPixRangeSubstitute</A>
  <LI><A HREF="atRegSci.html#atRegPixValSubstitute">atRegPixValSubstitute</A>
  <LI><A HREF="atHgMath.html#atRegPlot">atRegPlot</A>
  <LI><A HREF="atRegSci.html#atRegSigmaClip">atRegSigmaClip</A>
  <LI><A HREF="atRegSci.html#atRegSkyFind">atRegSkyFind</A>
  <LI><A HREF="atImSim.html#atRegStatNoiseAdd">atRegStatNoiseAdd</A>
  <LI><A HREF="atRegSci.html#atRegStatsFind">atRegStatsFind</A>
  <LI><A HREF="atEphemeris.html#atRiseSet">atRiseSet</A>
  <LI><A HREF="atGaussianWidth.html#atSetFSigma">atSetFSigma</A>
  <LI><A HREF="atGaussianWidth.html#atSigmaFind">atSigmaFind</A>
  <LI><A HREF="atExternalSet.html#atSiteSet">atSiteSet</A>
  <LI><A HREF="atExternalSet.html#atSiteSetByName">atSiteSetByName</A>
  <LI><A HREF="atGalaxy.html#atStarCountsFind">atStarCountsFind</A>
  <LI><A HREF="atSurveyGeometry.html#atSurveyToAzelpa">atSurveyToAzelpa</A>
  <LI><A HREF="atSurveyGeometry.html#atSurveyToAzelpaOld">atSurveyToAzelpaOld</A>
  <LI><A HREF="atSurveyGeometry.html#atSurveyToEq">atSurveyToEq</A>
  <LI><A HREF="atSurveyGeometry.html#atSurveyToGC">atSurveyToGC</A>
  <LI><A HREF="atTrans.html#atTransDel">atTransDel</A>
  <LI><A HREF="atTrans.html#atTransInverseApply">atTransInverseApply</A>
  <LI><A HREF="atTrans.html#atTransInverseApplyNowrap">atTransInverseApplyNowrap</A>
  <LI><A HREF="atHgMath.html#atTransMultiply">atTransMultiply</A>
  <LI><A HREF="atTrans.html#atTransNew">atTransNew</A>
  <LI><A HREF="atHgMath.html#atTransToMatrix">atTransToMatrix</A>
  <LI><A HREF="atSlalib.html#atTstampCopy">atTstampCopy</A>
  <LI><A HREF="atSlalib.html#atTstampDel">atTstampDel</A>
  <LI><A HREF="atSlalib.html#atTstampFromMJD">atTstampFromMJD</A>
  <LI><A HREF="atSlalib.html#atTstampIncr">atTstampIncr</A>
  <LI><A HREF="atSlalib.html#atTstampNew">atTstampNew</A>
  <LI><A HREF="atSlalib.html#atTstampNow">atTstampNow</A>
  <LI><A HREF="atSlalib.html#atTstampToDate">atTstampToDate</A>
  <LI><A HREF="atSlalib.html#atTstampToLst">atTstampToLst</A>
  <LI><A HREF="atSlalib.html#atTstampToMJD">atTstampToMJD</A>
  <LI><A HREF="atSlalib.html#atTstampToTime">atTstampToTime</A>
  <LI><A HREF="atSlalib.html#atTstampToTwilight">atTstampToTwilight</A>
  <LI><A HREF="atSlalib.html#atVAberrationApply">atVAberrationApply</A>
  <LI><A HREF="atMatch.html#atVCloseMatch">atVCloseMatch</A>
  <LI><A HREF="atSurveyGeometry.html#atVCobePixToCoord">atVCobePixToCoord</A>
  <LI><A HREF="atSurveyGeometry.html#atVCoordToCobePix">atVCoordToCobePix</A>
  <LI><A HREF="atMatch.html#atVDiMatch">atVDiMatch</A>
  <LI><A HREF="atMatch.html#atVDiMatch2">atVDiMatch2</A>
  <LI><A HREF="atDustGetval.html#atVDustGetval">atVDustGetval</A>
  <LI><A HREF="atDustGetval.html#atVDustGetvalFast">atVDustGetvalFast</A>
  <LI><A HREF="atSurveyGeometry.html#atVEqToGC">atVEqToGC</A>
  <LI><A HREF="atSurveyGeometry.html#atVEqToGal">atVEqToGal</A>
  <LI><A HREF="atSurveyGeometry.html#atVEqToSurvey">atVEqToSurvey</A>
  <LI><A HREF="atSlalib.html#atVFitxy">atVFitxy</A>
  <LI><A HREF="atSurveyGeometry.html#atVGCToEq">atVGCToEq</A>
  <LI><A HREF="atSurveyGeometry.html#atVGalToEq">atVGalToEq</A>
  <LI><A HREF="atLinearFits.html#atVLinEqn">atVLinEqn</A>
  <LI><A HREF="atLinearFits.html#atVLinFitBces">atVLinFitBces</A>
  <LI><A HREF="atSlalib.html#atVS2tp">atVS2tp</A>
  <LI><A HREF="atSurveyGeometry.html#atVSurveyToEq">atVSurveyToEq</A>
  <LI><A HREF="atSlalib.html#atVTp2s">atVTp2s</A>
  <LI><A HREF="atSlalib.html#atVTrans">atVTrans</A>
  <LI><A HREF="atSlalib.html#atVelocityFromTstamp">atVelocityFromTstamp</A>
  <LI><A HREF="atImSim.html#atWingAdd">atWingAdd</A>
  <LI><A HREF="atAirmass.html#atZdDec2Ha">atZdDec2Ha</A>
  <LI><A HREF="atCali.html#atnLCaliInverst">atnLCaliInverst</A>
  <LI><A HREF="atDustGetval.html#taExtinction">taExtinction</A>
</UL>
</BODY>
